{% extends 'app/base.html' %}

{% load static %}

{% block content %}

<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-md-col-xl-6 mb-md-0 mb-sm-4 mb-4 tm-site-header-col">
                        <div class="tm-site-header">
                            <h1 class="mb-4">Dennis Mwema</h1>
                            <!-- <img src="img/underline.png" class="img-fluid mb-4"> -->
                            <p>A full-stack web developer</p>        
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                                <div class="grid__item" id="home-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i style="color: #6CBE02;" class="fas fa-user fa-3x tm-nav-icon"></i>
                                            <span style="color: #6CBE02;" class="tm-nav-text">Welcome</span>
                                            <div class="product__bg"></div>        
                                        </div>                                    
                                        <div class="product__description">
                                            <div class="row mb-3">
                                                <div class="col-12">
                                                    <h2 class="tm-page-title">Introduction</h2>        
                                                </div>
                                            </div>                                        
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <img src="{% static 'img/welcome-1.jpg' %}" class="img-fluid mb-3">
                                                    <p>I am Dennis Mwema. I am a full stack developer with 2 years of experience. </p>
                                                    <p>I create websites and mobile apps using modern cutting edge technologies such as React, Django etc.</p>    
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                    <p>I am also a believer in non-stop learning in the technology field and an avid follower of emerging trends such as Machine Learning.</p>
                                                    <p>Above all, offering solutions sits at the core of my career.</p>
                                                    <img src="{% static 'img/welcome-2.jpg' %}" class="img-fluid">
                                                </div>                                        
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item" id="team-link">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-address-card fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">My Skills</span>
                                            <div class="product__bg"></div>            
                                        </div>                                     
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Skills</h2>        
                                                    </div>
                                                </div>
                                                <div class="row tm-reverse-sm">
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8">
                                                        <!-- <p class="mb-4">I am proficient with both backend and the frontend</p> -->
                                                        <ul>
                                                            <p>Front End:</p>
                                                            <li>HTML</li>
                                                            <li>CSS</li>
                                                            <li>JavaScript</li>
                                                            <li>React</li>
                                                        </ul>
                                               
                                                    </div>                                                
                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-lg-0 mb-sm-4 mb-4">
                                                        <!-- <p class="mb-4"></p> -->
                                                        
                                                        <ul>
                                                            <p>Back End:</p>
                                                            <li>Node</li>
                                                            <li>Django</li>
                                                            <li>MongoDB</li>
                                                            <li>Express</li>
                                                            <li>PostgreSQL</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-briefcase fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">My Projects</span>
                                            <div class="product__bg"></div>             
                                        </div>                                                                 
                                        <div class="product__description">
                                            <div class="p-sm-4 p-2">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Our Work</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <p>Here are some projects I have worked on.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="p-sm-4 p-2 tm-img-container">
                                                            <div class="tm-img-slider" id="tmImgSlider">
                                                            {% for p in project %}
                                                              <a href="{{p.url}}" class="tm-slider-img-link"><img src="{{p.img.url}}" alt="Image 1" class="img-fluid tm-slider-img"></a>
                                                             {% endfor %}
                                                              <!-- <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-02-tn.jpg" alt="Image 2" class="img-fluid tm-slider-img"></a>
                                                              <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-03-tn.jpg" alt="Image 3" class="img-fluid tm-slider-img"></a>
                                                              <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-04-tn.jpg" alt="Image 4" class="img-fluid tm-slider-img"></a>
                                                              <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-05-tn.jpg" alt="Image 5" class="img-fluid tm-slider-img"></a>
                                                              <a href="#" class="tm-slider-img-link"><img src="img/gallery-img-06-tn.jpg" alt="Image 6" class="img-fluid tm-slider-img"></a> -->
                                                            </div>
                                                        </div>  
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                </div>

                                <div class="grid__item">
                                    <div class="product">
                                        <div class="tm-nav-link">
                                            <i class="fas fa-envelope fa-3x tm-nav-icon"></i>
                                            <span class="tm-nav-text">Contact</span>
                                            <div class="product__bg"></div>             
                                        </div>                                                              
                                        <div class="product__description">
                                            
                                            <div class="pt-sm-4 pb-sm-4 pl-sm-5 pr-sm-5 pt-2 pb-2 pl-3 pr-3">
                                                <div class="row mb-3">
                                                    <div class="col-12">
                                                        <h2 class="tm-page-title">Contact</h2>        
                                                    </div>
                                                </div>
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <p>Let's get in touch.</p>
                                                    </div>
                                                </div>
                                                {% if messageSent %}
                                                <p>Email Sent Successfully!!</p>
                                                {% else %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <form method="post" class="contact-form">
                                                            {% csrf_token %}

                                                            <div class="row">
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                                                    {{form.recipient}}
                                                                  <!-- <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Name"  required/> -->
                                                                </div>
                                                                <div class="form-group col-md-6 col-lg-6 col-xl-6 tm-col-email">
                                                                    {{form.subject}}
                                                                  <!-- <input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email"  required/> -->
                                                                </div>
                                                            </div>                                                        
                                                            <div class="form-group">
                                                                {{form.message}}
                                                              <!-- <textarea id="contact_message" name="contact_message" class="form-control" rows="9" placeholder="Message" required></textarea> -->
                                                            </div>
                                                            <button type="submit" class="btn btn-primary tm-btn-submit">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>                       
                    </div>
                </div>                
            </div>
            
        </div> <!-- .tm-main-content -->  
    </div>
    

    {% endblock content %}
  